.master-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  align-items: center;
  background-color: #f6f6f6;
  padding: 20px;
}

.master-heading {
  font-family: 'Roboto';
  font-size: 32px;
  color: #82c341;
  text-align: center;
  margin-top: 50px;
}

.form-list-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: #f6f6f6;
  margin-bottom: 30px;
}

.display-answers-container {
  display: flex;
  width: 100%;
  background-color: #f6f6f6;
  flex-wrap: wrap;
}

.answers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 20px;
}

.answered-by {
  font-family: 'Roboto';
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.answer-container-style {
  display: flex;
  flex-direction: column;
}

.answer-list-item {
  font-family: 'Roboto';
  font-size: 16px;
}

.form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.question-form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 50vh;
}

.question-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  margin-bottom: 30px;
}

.number-container {
  width: 50px;
  height: 30px;
  font-family: 'Roboto';
  font-size: 18px;
  color: #13add5;
  border-radius: 4px;
  background-color: transparent;
}

.operator-container {
  width: 50px;
  height: 30px;
  font-family: 'Roboto';
  font-size: 18px;
  border-radius: 4px;
  color: #4f9e01;
  font-weight: 800;
  background-color: transparent;
  margin: 10px;
}

.create-button {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 12px;
  padding: 8px 16px;
  align-self: center;
  background-image: linear-gradient(to right, #13add5, #82c341, #13add5);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  height: 40px;
}

.test {
  font-family: 'Roboto';
  font-size: 18px;
  color: #82c341;
  text-align: center;
}

.question-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  overflow: auto;
  background-color: #fff;
  margin: 0;
  /* padding-left: 0; */
}

.list {
  text-align: start;
  width: 100%;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.question {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 24px;
}

.remove-btn {
  border: none;
  outline: none;
  height: 25px;
  width: 25px;
  padding: 0;
  background-color: transparent;
  margin-right: 20px;
}

.delete-icon {
  height: 20px;
  width: 20px;
}

.submit-question-button {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 12px;
  padding: 8px 16px;
  width: 120px;
  background-image: linear-gradient(to right, #13add5, #82c341, #13add5);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  align-self: center;
  margin: 20px;
}

.submit-test-button {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 12px;
  padding: 8px 16px;
  width: 120px;
  background-image: linear-gradient(to right, #13add5, #82c341, #13add5);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  align-self: center;
  margin: 20px 40px 20px 0;
}

.btn-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around;
  align-items: center; */
}

@media screen and (max-width: 767px) {
  .master-container {
    height: 100%;
  }

  .question-container {
    width: 60%;
  }

  .form-list-container {
    flex-direction: column;
  }

  .form-container {
    width: 100%;
  }

  .question-form-container {
    width: 100%;
  }

  .question {
    font-size: 18px;
  }

  .display-answers-container {
    flex-direction: column;
  }

  .answers-container {
    width: 100%;
    align-items: center;
    align-self: center;
  }
}
